[submodule "01.Resources_NBSM3RP"]
	path = 01.Resources_NBSM3RP
	url = https://github.com/Ugee0810/Unity-NBSM3RP-Resources
[submodule "02.LibModules"]
	path = 02.LibModules
	url = https://github.com/Ugee0810/Unity-LibModules
